



#maria{
      height:50px;
      width:100px;
}


#roy{
      height:50px;
      width:100px;
}

.container{
    text-align: center;
}


#intro{
    text-align: center;
}

#badArea{
    text-align: center;
}

#firstConvoSecondPart{
    text-align: center;
}

#firstConvoThirdPart{
    text-align: center;
}

#firstConvoFourthPart{
    text-align: center;
}

#firstConvoFifthPart{
    text-align: center;
}

#firstConvoSixthPart{
    text-align: center;
}

#firstConvoSeventhPart{
    text-align: center;
}

#firstConvoEighthPart{
    text-align: center;
}

#firstConvoNinthPart{
    text-align: center;
}

#firstConvoTenthPart{
    text-align: center;
}
