

/*  Get font file */

@font-face {
  font-family: matrix;
  src: url(assets/fonts/binxchr.ttf);
}



/*  Color of background and text */
body{
background-color: black;
color: Green;
font-size: 30px;
}

/*  Maria and Roy button display bigger and container to keep them in same UI */
#maria{
      height:50px;
      width:100px;
}

#roy{
      height:50px;
      width:100px;
}

.container{
    text-align: center;
    font-family: matrix;
}



/*  Following displays the UI centered and with proper typeface */
#intro{
    text-align: center;
    font-family: matrix;
}

#badArea{
    text-align: center;
    font-family: matrix;
}

#firstConvoSecondPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoThirdPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoFourthPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoFifthPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoSixthPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoSeventhPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoEighthPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoNinthPart{
    text-align: center;
    font-family: matrix;
}

#firstConvoTenthPart{
    text-align: center;
    font-family: matrix;
}


/*  Keep exit UI in center */
#exitContainer{
    text-align: center;
    font-family: matrix;
}


#restartButton{
  height:50px;
  width:100px;
}
