h1{

margin-left: 215px;
margin-right: 215px;


}



.square {
  background-color: red;
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
}

.base{
  background-color: black;
  width: 400px;
  height: 400px;



}
